
@model PagedList.IPagedList<SuperMarketMini.Domain.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Admin">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="/Admin/Category/Index">Category</a></li>
</ul>
<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            List category
        </div>
        <hr />
        <hr />
        @using (Html.BeginForm("Index", "Category", FormMethod.Get))
        {
            <div class="form-group">
                <div class="col-lg-5">
                    @Html.TextBox("SearchString", "Key: Name, GroupName", ViewBag.CurrentFilter as string, new { @class = "form-control", @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Key: Name, GroupName';}" })
                </div>
                <div class="col-lg-1">
                    <input type="submit" value="Search" class="btn btn-send" />
                </div>
            </div>
        }
        <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
            <thead>
                <tr>
                    <th>
                        Category ID
                    </th>
                    <th>
                        DisplayName
                    </th>
                    <th>
                        GroupName
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.CategoryID)
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                        <td class="center">
                            @if (item.Status == 2)
                            {
                                <span class="label label-warning">Unactive</span>
                            }
                            @if (item.Status == 1)
                            {
                                <span class="label label-success">Active</span>
                            }
                        </td>
                        <td>
                            <a class="btn btn-info" href="/Admin/Category/Edit/@item.CategoryID">
                                Details
                            </a>
                            <a class="btn btn-danger" href="/Admin/Category/Delete/@item.CategoryID">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="text-align:center">
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>



